.art-band:before {
  background-image: url("../img/icons/#{$art}_icon_white.png");
}

.social-link[href*="#{$behance}"]:before {
  background-image: url("../img/social/#{$behance}_icon.png");
}

.social-link[href*="#{$dribbble}"]:before {
  background-image: url("../img/social/#{$dribbble}_icon.png");
}

.social-link[href*="#{$etsy}"]:before {
  background-image: url("../img/social/#{$etsy}_icon.png");
}

.nav {
  .current-page[href="#{$art-url}"] {
    color: $black;

    &:before {
      background-image: url("../img/icons/#{$art}_icon_black.png");
    }
  }
}

// more specific
.portfolio-list {
  overflow: hidden;
  clear: both;

  .portfolio-list-item {
    width: 50%;

    .portfolio-img {
      width: 97.5%;
      margin: 5% 2.5%;
      margin-left: 0;
      height: 100px;
      object-fit: cover;
    }

    &:nth-child(even) {
      .portfolio-img {
        margin: 5% 2.5%;
        margin-right: 0;
      }
    }
  }
}