// colors v1
$burnt-orange: #dc3522;
$cardstock:    #d9cb9e;
$navy-blue:    #374140;
$grey:         #2a2c2b;
$black-dusk:   #1e1e20;

$backdrop:     #f2f2f2;

// colors v2, updated 12.18.15
$light-blue:   #98c3c7;
$turquoise:    #419596;
$sky-blue:     #00657a;
$rhs-blue:     #003b56;
$pitch-blue:   #001529;
$rose-red:     #A60F2B;