html {
  font-family: $font-stack;
  color: $black-dusk;
  background-color: $backdrop;
}

@mixin prefix($property, $value, $vendors: webkit moz ms o) {
  @if $vendors {
    @each $vendor in $vendors {
      #{"-" + $vendor + "-" + $property}: #{$value};
    }
  }
  #{$property}: #{$value};
}

a {
  color: $burnt-orange;
  text-decoration: none;
  @include prefix(box-shadow, 0 2px 0 0 $burnt-orange, webkit moz);


}
