.header {
  background-color: $black-dusk;
  padding: 20px 0;

  .header-link {
    text-decoration: none;
    color: $cardstock;
  }

  .header-title {
    text-align: center;
    font-size: 4em;
    font-weight: normal;
    margin: 0;
  }
}

.nav-trigger {
  background-color: $grey;
  display: block;
  font-size: 1.2em;
  color: $cardstock;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
}

.nav {

  .nav-list {
    margin: 0;
    padding: 0;

    .nav-list-item {
      list-style-type: none;
      background-color: $navy-blue;
      font-size: 1.2em;
      text-align: center;
      padding: 10px 0;
      border-top: 2px solid $black-dusk;

      .nav-link {
        box-shadow: none;
        // @include prefix(box-shadow, 0 2px 0 0 $cardstock, webkit moz);
        text-decoration: none;
        color: $cardstock;
      }
    }
  }
}

.wrapper {
  @include prefix(box-shadow, 0 2px 0 0 $burnt-orange, webkit moz);
  padding-bottom: 10px;
}

.container {
  padding: 10px 16px;

  .about-me,
  .timeline {
    padding: 0 16px;
    @include prefix(box-shadow, -16px 0 0 0 $burnt-orange, webkit moz);
  }
}