.timeline-wrapper {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;

  &:before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    height: 100%;
    width: 4px;
    background: $rhs-blue;
  }
}



.timeline-block {
  position: relative;
  margin: 20px 0;
  clear: both;
  overflow: auto;
  // height: 80px;

  .timeline-content {
    position: relative;
    // margin-left: 60px;
    padding: 1em;
    width: 46%;

    .secondary-header {
      @include prefix(box-shadow, 0 4px 0 0 $rhs-blue, webkit moz);
      border-radius: 4px;
      color: $white;
      background: $turquoise;
      margin: 0;
      padding: 12px 24px;
    }
  }

  // .timeline-content {
  //   float: right;
  // }

  &:nth-child(4n+3),
  &:nth-child(4n+4) {
    .timeline-content {
      float: right;
    }
  }

}

.timeline-bubble {
  position: absolute;
  top: 0;
  left: 50%;


  .date {
    color: $white;
    background: $rhs-blue;
    border-color: $rhs-blue;
    box-shadow: 0 0 0 4px $white, 0 2px 0 $sky-blue inset, 0 3px 0 4px $turquoise;
    font-size: 1.4em;
    line-height: 1.1em;
    text-align: center;
    margin: 0;
    padding: 12px;
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    // width: 24px;
    // height: 24px;
    position: relative;
    left: -50%;
    // top: 50%;
    // margin-left: -12px;
    // margin-top: -12px;
  }

}

@media (min-width: 800px) {
}

@media (min-width: 1000px) {
}