.home-band:before {
  background-image: url("../img/icons/#{$index}_icon_white.png");
}

.nav {
  .current-page[href="#{$index-url}"] {
    color: $black;

    &:before {
      background-image: url("../img/icons/#{$index}_icon_black.png");
    }
  }
}

.summary-list-item {
  clear: both;
  overflow: hidden; // gives actual height to parent

  &:nth-child(odd) {
    .double-col {
      float: left;

      &:nth-child(even) {
        margin-left: 5%;
      }

      &:nth-child(odd) {
        margin-right: 5%;
      }
    }
  }

  &:nth-child(even) {
    .double-col {
      float: right;

      &:nth-child(even) {
        margin-right: 5%;
      }

      &:nth-child(odd) {
        margin-left: 5%;
      }
    }
  }

  // &:last-child {
  //   margin-bottom: 56px;
  // }
}