.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: $rhs-blue;
}

.bar:hover {
  fill: $turquoise;
}

.x.axis path {
  // display: none; // hides the axis line
}

.d3-tip {
  line-height: 1.2;
  font-weight: bold;
  padding: 12px 16px;
  background: $pitch-blue;
  color: #fff;
  border-radius: 2px;
  position: relative;
  text-align: center;

}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after,
.d3-top:before {
  top: 100%;
  left: 50%;
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border: solid transparent;
  // border-top-color: $black-dusk;
}

// .d3-tip:after {
//   border-color: rgba(136, 183, 213, 0);
//   border-top-color: #88b7d5;
//   border-width: 30px;
//   margin-left: -30px;
// }

// .d3-tip:before {
//   border-color: rgba(194, 225, 245, 0);
//   border-top-color: #c2e1f5;
//   border-width: 36px;
//   margin-left: -36px;
// }



/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}