.writing-band:before {
  background-image: url("../img/icons/#{$writing}_icon_white.png");
}

.social-link[href*="#{$medium}"]:before {
  background-image: url("../img/icons/#{$medium}_icon.png");
}

.social-link[href*="#{$wordpress}"]:before {
  background-image: url("../img/icons/#{$wordpress}_icon.png");
}

.nav {
  .current-page[href="#{$writing-url}"] {
    color: $black;

    &:before {
      background-image: url("../img/icons/#{$writing}_icon_black.png");
    }
  }
}